<div style="margin-top: 3%; margin-left: 5%">
    <div style="display: inline-block; width:40%">
        <img class="boxed" style="padding:5px; display: block; width: 80%; text-align: center; margin: 0 auto;" src="{{bookCtrl.getBook().getImgLink()}}"
        />
    </div>
    <div style="display: inline-block; width: 50%; margin-left: 40%">
        <h3 style="position: absolute; top: 23%;">{{bookCtrl.getBook().getName()}}</h3>
        <h4 style="position: absolute; top: 31%; display:inline-block;">By {{bookCtrl.getBook().getAuthor()}}</h4>
        <h1 style="font-size: 10em; position: absolute; top: 33%; display:inline-block;"> ${{bookCtrl.getBook().getPrice()}}</h1>
        <div class="boxed" style="width: 20%; position: absolute; top: 40%; right: 5%;">
                <button ui-sref="home.cart" ng-click="homeCtrl.addToCart(bookCtrl.getBook().getId())" class="addToCartBtn" style="display: block; margin: 0 auto; width: 100%; padding: 5px;">Add to Cart</button>
        </div>
        <h5 style="position: absolute; bottom: 5%; display: inline-block">{{bookCtrl.getBook().getDescription()}}</h5>
    </div>
</div>
