<div class="centerWide blueBackground">
    <a ui-sref="root.home">
        <h1 style="display: inline; margin: 10px">NotManyBooks</h1>
    </a>
    <div style="width: 50%; margin: 0 auto; min-width: 400px;">
        <input ng-model="rootCtrl.searchString" style="width: 80%" type="text" />
        <button ng-click="rootCtrl.performSearch()" style="width: 15%">Search</button>
    </div>
</div>

<div class="blueBackground">
    <div class="container" style="text-align: center;">
        <nav class="navbar navbar-default centerWide">
            <a ui-sref="root.sell" class="nav-link homeNav">
                <h3 class="navItem">Sell</h3>
            </a>
            <a ui-sref="root.request" class="nav-link homeNav">
                <h3 class="navItem">Request</h3>
            </a>
            <a ng-if="rootCtrl.isLoggedIn" ui-sref="account" class="nav-link homeNav">
                <h3 class="navItem">Account</h3>
            </a>
            <a ng-if="!rootCtrl.isLoggedIn" ui-sref="login" class="nav-link homeNav">
                <h3 class="navItem">Sign in</h3>
            </a>
            <a ui-sref="root.cart" class="nav-link homeNav">
                <h3 class="navItem">Cart ({{rootCtrl.getCartCount()}})</h3>
            </a>
            <a ui-sref="root.about" class="nav-link homeNav">
                <h3 class="navItem">About</h3>
            </a>
        </nav>
    </div>
</div>

<div style="background: darkgrey" ui-view="mainContent"></div>