<div class="centerWide">
    <a ui-sref="home.page"><h1 style="display: inline; margin: 10px">BookMi</h1></a>
    <input ng-model="search" style="width: 50%" type="text" />
    <button>Search</button>
</div>

<div class="container" style="text-align: center">
    <nav class="navbar navbar-default centerWide">
        <ul class="nav navbar-nav" style="float:none">
            <a ui-sref="sell" class="nav-link homeNav">Sell</a>
            <a ui-sref="request" class="nav-link homeNav">Request</a>
            <a ui-sref="login" class="nav-link homeNav">Sign in</a>
            <a ui-sref="home.cart" class="nav-link homeNav">Cart {{count}}</a>
        </ul>
    </nav>
</div>

<h1>{{search}}</h1>

<div ui-view ="mainContent"></div>