<div class="centerHalfScreen" style="text-align: center">
    <a ui-sref="root.home" ><h1>BookMi</h1></a>
    <div class="boxed">
        <h3>Sign in</h3>
        <form>
            <div><label style="text-align: center;" for="email">Email</label></div>
            <div><input id="email" type="text"/></div>
            <div><label for="password">Password</label></div>
            <div><input id="password" type="password"/></div>
        </form>
        <div><button on-click="{{rootCtrl.login()}}">Sign In</button></div>
        <div><a ui-sref="forgotPassword">Forgot Your Password?</a></div>
        <div><input type="checkbox"> Keep me signed in.<br></div>
        </div>
        <div style="margin-top:15px">
            <svg height="10" width="40%">
                <line x1="0" y1="5" x2="200" y2="5" style="stroke:grey;stroke-width:2" />
            </svg>
            <p1 style="font: 18; width:20%">New?</p1>
            <svg height="10" width="40%">
                <line x1="0" y1="5" x2="200" y2="5" style="stroke:grey;stroke-width:2" />
            </svg>    
        </div>
    <div style="margin-top: 10px" class="boxed">
        <button style="margin-top: 10px" ui-sref="register">Create your BookMi account</button>
    </div>
</div>