.centerWide {
    margin: auto;
    width: 100%;
}

.centerHalfScreen {
    margin: auto;
    width: 40%;
}

.homeNav {
    padding-left: 5%;
    padding-right: 5%;
}

.boxed {
    border: 1px white;
    padding: 5px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.addToCartBtn {
    background: linear-gradient(to right, #e1c88c, #f4f7b1);
}

.addToCartBtn:hover {
    background: linear-gradient(to right, #e1ba8c, #f5ecb6);
}

label {
    margin-top: 10px;
}

.navItem {
    display: inline;
    color: white;
}

.blueBackground {
    background-color: rgb(43, 49, 75);
}
