.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: lightgray;
}

.footerFlex {
    display: flex;
}

.version {
    margin-right: auto;
  }

.email {
    margin-left: auto;
  }